.canvas {
  position: relative;
  width: 100vw;
  min-height: calc(100vh - 80px);
  overflow: hidden;
}

.paintMode,
.paintMode * {
  cursor: crosshair !important;
}

.status {
  color: #000;
  font-weight: 700;
  text-align: center;
  margin-top: 4rem;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
