<html>
<body>
    <h1>My notes</h1>
    {% for note in notes %}
        <div style="border: 1px solid black;" class="{{note[3]}}">  <!-- We can worry about the style of this later-->
            <h2>{{note[1]}}</h2>
            <p>{{note[2]}}</p>
            <small>Created: {{ note[4] }} | Updated: {{ note[5] }}</small>
        </div>
    {% endfor %}
</body>
<script>
function submitUpdate(e) {
    e.preventDefault();
    const update_title = document.getElementById('update-title').value;
    const title = document.getElementById('new-title').value;    // getting user inputs
    const body = {};
    const content = document.getElementById('new-content').value;
    const category = document.getElementById('new-category').value;
    if (title) body.title = title;
    if (content) body.content = content;
    if (category) body.category = category;
    fetch('/notes/' + encodeURIComponent(update_title), { //redirecting to update_note(update_title)
        method: 'PUT',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify(body)
    }).then(() => window.location.href = '/notes');  // redirect back
}
function submitDelete(e) {
    e.preventDefault();
    const title = document.getElementById('delete-title').value; // get value
    fetch('/notes/delete/' + encodeURIComponent(title), { //redirect to delete_note(title)
        method: 'DELETE'
    }).then(() => window.location.href = '/notes'); 
}
</script>
</html>